/**
 * Base Styles
 */

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

#app {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}