/**
 * Map
 */

.map {
  position: relative;
  height: 100%;

  .vue-map-container {
    width: 100%;
    height: 100%;
  }

  &_places {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
