/**
 * Navbar
 */

.navbar {
  &-left {
    @include navbar-vertical-align($input-height-base);
  }
  &-right {
    @include navbar-vertical-align($input-height-base);
  }
  &-search {
    float: right;

    &.__open {
      .form-group {
        display: block;
      }
    }

    .form-group {
      display: none;
      float: left;
      margin: 0;
    }
  }
}
