<template>
	<div class="order-create">
		<div class="container-fluid">
			<ul>
				<li><router-link to="/address">Откуда</router-link></li>
				<li><router-link to="/address">Куда</router-link></li>
				<li><textarea cols="30" rows="10" class="form-control"></textarea></li>
			</ul>
			<button class="btn btn-primary btn-lg btn-block">Отправить заявку</button>
		</div>
	</div>
</template>

<script>
export default {}
</script>