<template>
	<div class="map">
		<gmap-map
				:center="center"
				:zoom="16"
				:options="{
					mapTypeControl: false,
					fullscreenControl:false,
					streetViewControl: false
				}"
		>
			<gmap-marker :position="center" />
		</gmap-map>
		<div v-show="opened" class="map_places">
			<ul class="list-group">
				<li v-for="place in places" class="list-group-item">
					{{ place.description }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import { load, Map, Marker } from 'vue2-google-maps'
import { mapGetters } from 'vuex'

load({
    key: 'AIzaSyAG3ykJHDROOA1GR9SfXyKO1VYjd5XG2F4',
    libraries: 'places'
})

export default {
    components: {
		GmapMap: Map,
        GmapMarker: Marker
	},
	computed: {
		...mapGetters('address', [
		    'center',
			'places',
			'opened'
		])
	},
	created() {
        this.$store.dispatch( 'address/setCurrentPosition' )
	}
}
</script>