<template>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-left col-xs-2">
					<router-link v-if="!isHome"
								 to="/"
								 class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</router-link>
				</div>
				<div class="navbar-right col-xs-10">
					<search v-if="isAddress"
							v-on:change="change"
							v-on:toggle="toggle"
							:opened="opened"/>
				</div>
			</div>
		</div>
	</nav>
</template>

<script>
import Search from './Search.vue'
import { mapGetters } from 'vuex'

export default {
    components: { Search },
	computed: {
		...mapGetters('address', [
		    'opened'
		]),
        isHome() {
			return this.$route.name == 'home'
		},
		isAddress() {
            return this.$route.name == 'address'
		}
	},
	methods: {
        change( e ) {
            if( e.keyCode != 8 && e.keyCode != 13 ) {
                this.$store.dispatch( 'address/setPlaces', e.target.value )
            } else if( e.target.value == '' ) {
                this.$store.dispatch( 'address/setPlaces' )
            }
		},
		toggle( opened ) {
			this.$store.dispatch( 'address/toggle' )
		}
	}
}
</script>