<template>
	<div v-bind:class="searchClass">
		<div class="form-group">
			<input v-on:keyup="change"
				   ref="input"
				   type="text"
				   class="form-control"
				   placeholder="Type address here ..." />
		</div>
		<button v-on:click="toggle"
				type="button"
				class="btn btn-default">
			<span v-bind:class="btnClass"></span>
		</button>
	</div>
</template>

<script>
export default {
    props: {
        opened: {
            type: Boolean,
			default: false
		}
	},
    computed: {
        searchClass() {
            return {
                'navbar-search': true,
                '__open': this.opened
            }
        },
        btnClass() {
            return {
                'glyphicon': true,
                'glyphicon-search': !this.opened,
                'glyphicon-remove': this.opened
            }
        }
	},
    methods: {
        change( e ) {
			this.$emit( 'change', e )
		},
        toggle() {
            this.$emit( 'toggle' )
		},
		focus() {
            if( this.opened ) {
                this.$refs.input.focus()
            }
		}
	},
	updated() {
		this.focus()
	},
	mounted() {
        this.focus()
	}
}
</script>